CONFIG_VENDOR=TPLINK
CONFIG_PRODUCT=MT7628
CONFIG_FIRMWARE_PRODUCT_ID="TL_WR841N-V13"

CONFIG_FIRMWARE_WIFI2_DRIVER=4.0

# ВАЖНО — IPv6 выключен
#CONFIG_FIRMWARE_ENABLE_IPV6=y

# Минимум
CONFIG_FIRMWARE_INCLUDE_IPSET=y
CONFIG_FIRMWARE_INCLUDE_SHORTCUT_FE=y

# Язык
CONFIG_FIRMWARE_INCLUDE_LANG_RU=y

# SSH
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=y
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=y

# ДЛЯ ZAPRET
CONFIG_FIRMWARE_INCLUDE_NFQWS=y

# ЖЁСТКАЯ ОПТИМИЗАЦИЯ
CONFIG_CC_OPTIMIZE_FOR_SIZE=y

# ВСЁ ТЯЖЕЛОЕ ВЫКЛЮЧЕНО
#CONFIG_FIRMWARE_ENABLE_IPV6=y
#CONFIG_FIRMWARE_INCLUDE_OPENVPN=y
#CONFIG_FIRMWARE_INCLUDE_HTTPS=y
#CONFIG_FIRMWARE_INCLUDE_SFTP=y
#CONFIG_FIRMWARE_INCLUDE_DDNS_SSL=y
#CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y
#CONFIG_FIRMWARE_INCLUDE_TCPDUMP=y
#CONFIG_FIRMWARE_INCLUDE_CIFS=y
#CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y
#CONFIG_FIRMWARE_INCLUDE_XUPNPD=y
